* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#side-bar {
  background-color: #1e486c;
  width: 200px;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
}

#side-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#side-bar ul li {
  margin-bottom: 10px;
}

#side-bar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in;
}

#side-bar ul li a:hover {
  background-color: white;
  color: grey;
}

#content {
  flex: 1;
  /* border: 2px solid red; */
  margin-left: 200px;
}